@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../assets/fonts/Montserrat-Light.otf') format("opentype");
}