body {
  background-color: $body-background;
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: $black;
}

p {
  font-size: 13px;
  color: $light-text;
  line-height: 18px;
}

button {
  outline: none;
}

.card {
  @include card();
}