//Colors
$dark-primary-color: #4C1367;
$primary-color: #702283;
$border-color: #D8D8D8;
$faint-border-color: #F1F0F4;
$body-background: #eeeeee;
$light-text: #8899AA;
$sidenav-text: #D18EE2;

$white: #ffffff;
$black: #626272;
$orange: #EB8B2D;
$red: #CD171A;

//Bootstrap Breakpoints
$sm-device: 768px;
$md-device: 991px;
$lg-device: 1200px;

$content-padding: 20px;
$bootstrap-page-padding-sm: 0;
$bootstrap-page-padding-lg: 38px;
$sidenav-width: 246px;