//Colors
$primary-color: #702283;
$border-color: #D8D8D8;
$faint-border-color: #F1F0F4;
$body-background: #eeeeee;
$light-text: #8899AA;

$white: #ffffff;
$black: #626272;
$orange: orange;
$gray: gray;

//Bootstrap Breakpoints
$sm-device: 768px;
$md-device: 991px;
$lg-device: 1200px;

$content-padding: 20px;
$bootstrap-page-padding-sm: 7px;
$bootstrap-page-padding-lg: 38px;