.order-invoice {
  padding: 0;

  table {
    margin-bottom: 0;
    border: none;
    font-size: 12px;

    tr {

      td {
        border: none;
        padding: 0 12px 8px 12px;

        &:last-child {
          max-width: 150px;
        }

        input {
          width: 100%;

          &.small {
            width: 64px;
          }

        }

      }

    }

    thead {

      tr {
        border-bottom: 1px solid $faint-border-color;
      }

      td {

        &:first-child {
          width: 164px;
        }
        
        padding-top: 8px;
        padding-bottom: 8px;
      }

    }

    tbody {

      tr:first-child {
        td {
          padding-top: 8px;
        }
      }

    }

    input {
      border: 1px solid $border-color;
    }

  }

  .order-invoice-footer {
    font-weight: bold;
    border-top: 1px solid $faint-border-color;
    padding: 8px 8px;
    display: table;
    width: 100%;

    span {
      font-size: 24px;
      float: right;
    }

  }

  @include mq(sm) {
    position: absolute;
    bottom: 10px;
    right: 0px;
    min-width: 330px;
    @include box-shadow();
  }

}