$negative-margin: -8px;

.order-nav {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;

  .order-nav-options {

    @include mq(md) {
      @include card(16px);
      display: flex;
      flex: 1;
    }

  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .order-nav-info {

    text-align: center;
    margin-bottom: $content-padding;
    font-size: 14px;

    @include mq(md) {

      h2 {
        font-size: 16px;
      }

    }

    ul {
      color: $light-text;
      font-family: 'Montserrat-Light';

      li {
        margin-bottom: 4px;

        &:nth-child(2) {
          font-weight: bold;
        }

      }

    }

    @include mq-min(md) {
      @include card(16px);
      @include remove-page-padding();
      margin-bottom: $content-padding;
      @include box-shadow();
    }

    @include mq(md) {
      flex: 1;
      text-align: left;
      margin-bottom: 0;
    }

  }

  .order-nav-dropdowns {
    margin-bottom: $content-padding;
    padding: 0 8px;

    > li {
      text-align: left;
      font-size: 12px;
      margin-bottom: 4px;

      span {
        font-size: 13px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .dropdown {
        margin-top: 4px;

        button {
          width: 100%;
          text-align: left;
          background: $white;
          color: $light-text;
          border-color: $border-color;
          font-size: 12px;

          .caret {
            float: right;
            margin-top: 8px;
          }

        }

        &.open {
          button {
            box-shadow: none;
            background: $white;
            color: $light-text;
            border-color: $border-color;
          }
        }

        .dropdown-menu {
          width: 100%;

          a {
            color: $black;
          }

        }

      }

    }

    @include mq(md) {
      margin-bottom: 0;

      float: right;
      margin-top: 8px;

      > li {
        text-align: center;
        padding-left: 16px;
        margin-right: 12px;
        height: 38px;
        border-left: 1px solid $border-color;
        float: left;
        font-weight: bold;

        &:first-child {
          border: none;
        }

        &:last-child {
          margin-right: 0;
        }

        button {
          width: auto;
          min-width: 100px;
        }

        .dropdown {

          .dropdown-menu {
            width: auto;
          }

        }

      }

    }

  }

  .order-nav-actions {
    padding: 0 8px;

    button {
      background: $light-text;
      color: $white;
    }

    @include mq(md) {
      display: flex;
      padding-bottom: 16px;
      margin-left: 16px;

      button {
        font-family: 'Montserrat-Light';
        margin-left: 6px;
        min-width: 100px;
        align-self: flex-end;
        font-weight: bold;
      }

    }

  }

  @include mq(md) {
    display: flex;
    padding-bottom: 0;
    border-bottom: none;
  }

}