.order-table {
  padding: 0 8px;
  order: 1;

  @include mq(md) {
    padding: 0;
    order: 0;
  }

  @include mq-min(md) {
    .card {
      padding: 0;
    }
  }

  table {
    margin-bottom: 0;
    font-family: 'Montserrat-Light';

    thead {

      th {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
      }

    }

    tr {

      td {

        &:first-child {
          font-weight: bold;
        }

        padding: 18px 8px;
      }

    }

    button {
      background: none;
      border: none;
      outline: none;

      img {
        margin-bottom: -2px;
        height: 14px;
      }

    }

    a {
      text-decoration: underline;

      &.warning {
        color: $red;
      }
    }

  }

}