ul.user-greeting {
  line-height: 18px;

  li {

    &:nth-child(1) {
      color: $orange;
    }

    &:nth-child(2) {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

  }

}